<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>Document</title>
</head>

<body>
    <h2>Attendance Dashboard</h2>
    <canvas id="attendanceChart" width="400" height="200"></canvas>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        const ctx = document.getElementById('attendanceChart').getContext('2d');
        const attendanceChart = new Chart(ctx, {
            type: 'bar', // bar chart
            data: {
                labels: {{ labels| safe }},
        datasets: [{
            label: 'Days Present',
            data: {{ data| safe }},
            backgroundColor: 'rgba(54, 162, 235, 0.6)',
            borderColor: 'rgba(54, 162, 235, 1)',
            borderWidth: 1
          }]
        },
        options: {
            scales: {
                y: { beginAtZero: true }
            }
        }
      });
    </script>
</body>

</html>